body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  padding: 30px;
  color: #333;
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #ffffffdd;
  padding: 20px 30px;
  border-radius: 30px;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 2px 2px white;

  h2 {
    margin-bottom: 10px;
  }
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #000;
  color: #ffff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  margin-right: 10px;

  &:hover {
    opacity: 1;
  }
}

.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.todo{
  background-color: #FFFF;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.complete {
  display: inline;
  background-color: #5cb85c;
  outline: 1px solid black;
}

.remove {
  background-color: #d9534f;
  outline: 1px solid black;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}
